* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
